.upload{
    margin: 1rem;
    background-color:#3c5064 ;
    border-color:#3c5064

}

.unhide{
    margin: 1rem;
    background-color:#3c5064 ;
    border-color:#3c5064
}

.run{
    margin: auto; 
    background-color:#3c5064 ;
    border-color: #3c5064;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    
}

.countainerRun{
    position: relative;

   
}


.hide{
    background-color:#3c5064 ;
    border-color: #3c5064;
}

.upload:hover{
    background-color: #56708a;
    border-color: #56708a;
}

.run:hover{
    background-color: #56708a;
    border-color: #56708a;
}

.unhide:hover{
    background-color: #56708a;
    border-color: #56708a;
}

.hide:hover{
    background-color: #56708a;
    border-color: #56708a;
}

.imagebox{
   display: flex;
   justify-content: space-between;
   margin-top: 2rem;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

.videobox{
    width: 50vw;
    height: 60vh;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right:2rem; 
    margin-bottom: 1rem;
    border: 1px solid black;
}

.referencebox{
    width: 40vw;
    height: 50vh;
    margin: 2rem;
    border: 1px solid black;
}


.referenceBox_Photo{
    width: 30vw;
    height: 40vh;
    border: 1px solid black;
    margin: 2rem;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: grey; 
}



.UploadModel{
  position: absolute ;
  z-index: 10040;
 
  
}
.ModalHead {
background-color: #3c5064;
color: White
}

.referenceBox__refPhoto{
    display: block; 
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}

.titleModelRef{
    display: flex;
    margin-left: 6rem; 
    flex-direction: column;
    align-items: center;
 }

 .titleModelVideo{
    display: flex;
    margin-right: 6rem; 
    flex-direction: column;
    align-items: center;
 }

.referenceBox_Video{
    width: 30vw;
    height: 40vh;
    border: 1px solid black;
    margin: 2rem;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: grey; 
}

.referenceBox__VideoPhoto{
    display: block; 
    width: 100%;
    box-sizing: inherit;

}
