.upload{
    margin: 1rem;
    background-color:#3c5064 ;
    border-color:#3c5064

}

.unhide{
    margin: 1rem;
    background-color:#3c5064 ;
    border-color:#3c5064
}

.run{
    margin: auto; 
    background-color:#3c5064 ;
    border-color: #3c5064;
    text-align: center;
    display: flex;
    justify-content: center;
    padding-left: 20px;
    padding-right: 20px;
    
}

.countainerRun{
    position: relative;

   
}


.hide{
    background-color:#3c5064 ;
    border-color: #3c5064;
}

.upload:hover{
    background-color: #56708a;
    border-color: #56708a;
}

.run:hover{
    background-color: #56708a;
    border-color: #56708a;
}

.unhide:hover{
    background-color: #56708a;
    border-color: #56708a;
}

.hide:hover{
    background-color: #56708a;
    border-color: #56708a;
}

.imagebox{
   display: flex;
   justify-content: space-between;
   margin-top: 2rem;
}

.title{
    display: flex;
    flex-direction: column;
    align-items: center;
 }

#videobox{
    width: 50vw;
    height: 60vh;
    margin-top: 2rem;
    margin-left: 2rem;
    margin-right:2rem; 
    margin-bottom: 1rem;
    border: 1px solid black;
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: scroll;
    scroll-snap-type: y mandatory;
}

.referencebox{
    width: 40vw;
    height: 50vh;
    margin: 2rem;
    border: 1px solid black;
}


.referenceBox_Photo{
    display: flex; 
    height: 100%;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: grey; 
}



.UploadModel{
  position: absolute ;
  z-index: 10040;
 
  
}
.ModalHead {
background-color: #3c5064;
color: White
}

.referenceBox__refPhoto{
    display: block; 
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;

}

.titleModelRef{
    display: flex;
    margin-left: 6rem; 
    flex-direction: column;
    align-items: center;
 }

 .titleModelVideo{
    display: flex;
    margin-right: 6rem; 
    flex-direction: column;
    align-items: center;
 }

.referenceBox_Video{
    width: 30vw;
    height: 40vh;
    border: 1px solid black;
    margin: 0  2rem 2rem;
    display: flex; 
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: grey; 
}

.referenceBox__VideoPhoto{
    display: block; 
    width: 100%;
    box-sizing: inherit;

}

#videoName {
margin-top: 1em;
margin-left: 1em;
}


#boxforImg{
    border: solid black; 
    margin: 1em;
    width:10px; 
    height: 10px; 
}

#SimImg {
    width:100%; 
    height:100%
}

.test{
    padding: 2em; 
    width: 100%; 
    height: 100%;
}
.text{
    text-align: center;
}

.flexbox{
    position: relative;
    display: flex;
    flex-direction: column;
    overflow: scroll;
   
}

.test:hover{
    transform:scale(1.2);
}

.SelectVideo{
    width: 12em; 
    display: inline-block;
}

.SelectForm{
    display: inline !important;
}

.title_for_video_select{
    display: inline-block;
    margin-right: 1em;
}
#refPhoto{
    margin-bottom: 1em;
    width: 20em; 
}
#videoPhoto{
    margin-bottom: 1em;
    width: 20em; 
}
.time{
    text-align: center;
}