.logo{
    height: auto;
    width: auto;
    max-height: 200px;
    max-width: 200px;
    
}

.navbar{
    background-color: #3c5064;
    display: flex;
    justify-content: space-between;
    align-items:flex-end;
}

.navbar li{
    list-style: none;
    padding: 0 2rem;
    color: white;
}

.navbar a{
    color: inherit;
    text-decoration: none;
}

.help {
    margin: 0em 1rem; 
    background-color:#3c5064 ;
    border-color:#3c5064
}

.helpHead {
    background-color: #3c5064;
    color: White
    }

.ProjectTitle{

    color: white ; 

}

.settingsButton{
    background-color:#3c5064 ;
    border-color:#3c5064
}

.settingsIcon{
    width:2.5em; 
    height: 2em;
}

.SettingsHead {
    background-color: #3c5064;
    color: White
    }
.SettingsModal{
    width: 100%; 
    overflow: scroll;
    overflow-x: hidden;
}

.TitleSettings.active{
    background-color: #3c5064 !important;
    border-color:#3c5064;
}

.Similar-ImagesSettings{
    margin: 2em 0;

}

.Delete {
    display: flex;
    float: right;
}


